@import "./variables.scss";
@import "./mixins.scss";

.aboutContainer {
  .photos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0 27px;

    .photo {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      flex: 1 1 0;

      height: 83px;

      margin: 0 3px;

      &:nth-child(1) {
        flex: 0.6 1 0;
      }

      &:nth-child(2) {
        flex: 0.6 1 0;
      }
    }

    img {
      width: 100%;
      height: auto;
    }

    &.last {
      margin: -15px 0 15px;

      // @include breakpoint($ipad) {
      // 	margin: 18px 0 27px;
      // }
    }
  }

  .logoblock {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;

    margin-top: 10px;

    p,
    .mobile-license {
      font-size: 1.2em;

      @include proxima-nova-bold;

      line-height: 1.2em;

      margin: 0 0 23px 6px;
    }

    p {
      display: none;

      @media screen and (min-width: $ipad) {
        display: block;
      }
    }

    .mobile-license {
      @media screen and (min-width: $ipad) {
        display: none;
      }
    }
  }

  .logocopy {
    font-size: 1.2em;

    @include proxima-nova-light-italic;

    line-height: 1em;

    margin: 0 0 30px 6px;

    @media screen and (min-width: $ipad) {
      display: none;
    }
  }

  .logo {
    background-image: url(/images/ttt_logo.png);

    background-size: contain;

    width: 85px;
    height: 85px;

    margin-bottom: 20px;
  }
}
