.aboutContainer {
  .photos {
    // @include flexy(row);
    display: flex;
    justify-content: center;
    align-items: center;

    .photo {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      // @include flexy(row);

      flex: 1 1 0;

      height: 83px;

      margin: 0 3px;

      &:nth-child(1) {
        flex: 0.6 1 0;
      }

      &:nth-child(2) {
        flex: 0.6 1 0;
      }
    }

    img {
      width: 100%;
      height: auto;
    }

    &.last {
      margin: -15px 0 15px;

      // @include breakpoint($ipad) {
      // 	margin: 18px 0 27px;
      // }
    }
  }
}
