@import "./variables.scss";
@import "./mixins.scss";

.contactContainer {
  p {
    width: 100%;
  }
  form {
    @include proxima-nova-light;
    color: $warm-grey;
    font-size: 1.4em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    * {
      margin-bottom: 17px;
      border: none;
      @include proxima-nova-light;
    }

    input {
      width: 100%;
      background-color: $white-70;
      height: 35px;
      padding-left: 10px;
    }

    textarea {
      width: 100%;
      background-color: $white-70;
      height: 70px;
      padding-left: 10px;
      padding-top: 5px;
    }

    button {
      width: 100%;
      height: 35px;
      background-color: $warm-grey-30;
      color: $light-warm-grey;

      cursor: pointer;

      &:hover {
        background-color: $warm-grey-60;
      }
    }

    label {
      width: 100%;
      height: 10px;
    }
    .error {
      color: $red;
    }
  }

  .toastHolder {
    // background-color: $light-warm-grey-25;
    position: fixed;
    top: 0px;
    left: 0px;

    display: none;

    &.active {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    width: 100%;
    height: 100vh;
    z-index: 150;

    .toast {
      transition: all 5s ease-in-out;

      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 25px;
      width: 400px;
      height: 280px;

      background-color: $light-warm-grey;

      @include proxima-nova-bold;
      color: $warm-grey;

      a {
        color: $mid-warm-grey;

        &:hover {
          color: $warm-grey;
        }
      }

      font-size: 1.5em;

      border: solid 1px $mid-warm-grey;

      .buttonRow {
        position: absolute;
        top: 7px;
        right: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .button {
          @include baseTransition;
          @include proxima-nova-light;
          font-size: 2em;
          padding: 1px 11px;
          margin-left: 5px;
          color: $warm-grey;

          &:nth-child(1) {
            margin-left: 25px;
          }

          &:hover {
            background-color: $mid-warm-grey-50;
            color: $warm-grey;
          }
        }
      }
    }
  }
}
