@import "./variables.scss";
@import "./mixins.scss";

.imageMotionContainer {
  height: 100%;
}

.arrow {
  height: 100%;
  width: 75px;
  position: absolute;
  line-height: 100%;
  color: $blue;
  font-size: 4em;
  cursor: pointer;
  &:hover {
    background-color: $light-warm-grey-50;
    > * {
      filter: hue-rotate(200deg) brightness(120%) opacity(75%);
      -webkit-filter: hue-rotate(200deg) brightness(120%) opacity(75%);
    }
  }

  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  @include baseTransition;

  &.left {
    left: 0px;
    top: 0px;
  }

  &.right {
    right: 0px;
    top: 0px;
  }

  .innerArrow {
    width: 35px;
    height: 35px;
    background-image: url(/images/homesplash-tiles-downarrow.svg);
    background-size: contain;

    @include baseTransition;

    &.left {
      transform: rotate(90deg);
      margin-right: 15px;
    }

    &.right {
      transform: rotate(-90deg);
      margin-left: 15px;
    }
  }
}
