$horizontal-breaker: (min-height 450px);

$big-phone: 359px (min-height 450px);
$iphone6plusCatcher: 412px (min-height 450px);
// $phone-ipad: 550px (min-height 450px);
$phone-ipad: 550px;

$ipadwidth-desktop: 767px;

// $ipadwidth-desktop: (min-width 767px) and (min-height 450px);
$ipad: (767px) (min-height 900px);
$ipad-wide: 1024px;
// $ipad-wide: 1024px (min-height 450px);
$real-wide: 1100px (min-height 450px);

// hate to do it
// vertical breakpoints
// $ipad-literal: (minwidth 767px) (minheight 900px);
$ipad-literal: (min-width 767px) (min-height 900px);

/********* colors *********/
$white: rgba(255, 255, 255, 1);
$green: rgba(73, 164, 146, 1);
$blue: rgba(110, 187, 209, 1);
$red: rgba(222, 109, 109, 1);

$warm-grey: rgba(114, 111, 106, 1);
$warm-grey-60: rgba(114, 111, 106, 0.6);
$mid-warm-grey: rgba(170, 168, 166, 1);
$lighter-grey: rgba(235, 235, 235, 1);
$light-warm-grey: rgba(248, 247, 246, 1);
$light-warm-grey-25: rgba(248, 247, 246, 0.25);
$light-warm-grey-85: rgba(248, 247, 246, 0.85);
$light-warm-grey-50: rgba(248, 247, 246, 0.5);
$dark-cold-grey-15: rgba(100, 103, 105, 0.15);
